body {
  background-color: rgba(250, 250, 250, 0.924);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: thistle;
  padding-top: 15px;
  padding-bottom: 100px;
}
.container.game-won {
  background-color: yellowgreen;
}
.container.game-lost {
  background-color: #ec94aa;
}
#answears {
  max-width: fit-content;
}
#answears ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
#answears ul li.checked {
  font-weight: bold;
}

#current-result {
  text-align: center;
  font-weight: bold;
  min-height: 50%;
  min-width: 50%;
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
}
#current-result.correct {
  border: 1px dotted green;
  color: green;
}
#current-result.incorrect {
    color: red;
    border: 1px dotted red;
}

#result {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  height: 100%;
  text-align: left;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

#question {
  line-height: 60px;
}

.results-wrapper {
  display: inline-flex;
  font-weight: bold;
  flex: 2;
}
.result-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exit-wrapper {
  display: flex;
  flex: 1;
}
.results-title {
  flex: 1;
  text-align: right;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.card {
  /* -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.25); */
  font-style: oblique;
  background-color: darkkhaki;
  /* max-width: 50%; */
  /* margin: 0 auto; */
  /* border-radius: 50px; */
}
.margin-top {
  margin-top: 50px;
}
.margin-bottom {
  margin-bottom: 50px;
}
.margin-horizontal {
  margin-left: 50px;
  margin-right: 50px;
}
.margin-vertical {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-left {
  margin-left: 50px;
}
.margin-right {
  margin-right: 50px;
}
.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
